

.circularimage {
    width: 60px;
  height: 60px;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  margin-left: 13px !important;
  margin-top: 12px !important;
}

.ui-li-icon-right {
    max-height: 40px;
    max-width: 40px;
    right: 25px;
    top: .9em;
}

